.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #23383b;
  /* background-color: #171717; */
  border: 1px solid #32a852;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.MuiFormLabel-asterisk {
  display: none; /* Hide the asterisk */
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #2a3439;
}

.longDashContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: '100%';
}

.longdash {
  height: 20px;
  background-color: grey;
  width: '40%';
}
