.timerID {
  color: #fffff0;
  color: #FFFFE0;
  /* color: #EEE8AA; */
  /* color: #FFFACD; */
  font-size: 70px;
}

.centerScreenDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsDiv {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.timerId {
  margin-bottom: 5px;
}
