.timerId {
  color: #fffff0;
  color: #FFFFE0;
  /* color: #EEE8AA; */
  /* color: #FFFACD; */
  /* color: #f8f8ff; */
  font-size: 95px;
  margin-bottom: 0px;
  background: transparent;
  border: none;
  min-width: 125px;
  max-width: 125px;
  outline: none;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Beiruti';
}

.timerId:hover, .timerID:focus {
  background-color: rgba(0, 0, 0, 0.15);
}

.timerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1px;
  width: '100%';
}

.timerCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: '100%';
}

.timerCol input {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.timerIdentifer {
  color: grey;
  padding: 0;
  margin: 0;
  margin-top: -20px;
}

.centerScreenDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.buttonsDiv {
  display: flex;
  align-items: center;
}

.curvedText {
  color: #2a3439;
  font-size: 90px;
  font-weight: 700;
}
