.container {
  background-color: #212121;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.headerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #90959e;
  background-color: #212121;
  background-color: #171717;
  padding: 5;
  top: 0;
}

.timerInFileSystem {
  color: #fffff0;
  color: #FFFFE0;
  /* color: #EEE8AA; */
  /* color: #FFFACD; */
  font-size: 15px;
  font-weight: 600;
}
