.page-container {
  background-color: #2a3439;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

.console-container {
  background-color: #212121;
  background-color: #3d6273;
  background-color: #2a3439; 
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

.headerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.directoryDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #292A2D;
  position: relative;
}

.directoryDiv:hover {
  cursor: pointer;
}

.columnTitleDiv {
  max-width: 24%;
  min-width: 24%;
  padding-left: 10px;
}

.columnTitleEditDiv {
  right: 10px;
  position: absolute;
  display: flex;
}

.columnTitleDiv p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  color: #fff;
}

.iconRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
}

.headerRowDivs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.timerInFileSystem {
  color: #fffff0;
  color: #FFFFE0;
  /* color: #EEE8AA; */
  /* color: #FFFACD; */
  font-size: 15px;
  font-weight: 600;
}

.header {
  background-color: #212121;
  color: #FFFFE0;
  /* text-align: center; */
  width: 100%; 
}

.footer {
  background-color: #212121;
  color: #FFFFE0;
  text-align: center;
  width: 100%; 
}

.middle {
  background-color: #47686e;
  color: #FFFFE0;
  width: 100%; 
  /* text-align: center; */
}

.footerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
